/GNUmakefile
/build/
*.pyc
.sdk
.stgit-*
.git-submodule-status
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch

build.log
/dist
/xemu.ini
/macos-libs/
/macos-pkgs/
/xemu.iconset/
