name: Build for Windows

on:
  workflow_call:

jobs:
  windows:
    name: Build for Windows (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, aarch64]
        configuration: [debug, release]
    env:
      DOCKER_IMAGE_NAME: ghcr.io/xemu-project/xemu-win64-toolchain:sha-0d06ce8
    steps:
    - name: Download source package
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: src
    - name: Extract source package
      run: tar -xf xemu-*.tar.zst --strip-components=2
    - name: Initialize compiler cache
      id: cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
      with:
        path: /tmp/xemu-ccache
        key: cache-wincross-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-${{ github.sha }}
        restore-keys: cache-wincross-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-
    - name: Pull Docker image
      run: docker pull $DOCKER_IMAGE_NAME
    - name: Compile
      env:
        BUILD_FLAGS: ${{ matrix.configuration == 'debug' && '--debug' || '' }}
      run: |
        mkdir -p /tmp/xemu-ccache
        docker run --rm \
          -v $PWD:/xemu -w /xemu \
          -v /tmp/xemu-ccache:/tmp/xemu-ccache \
          -e CCACHE_DIR=/tmp/xemu-ccache \
          -e CCACHE_MAXSIZE=512M \
          -e CROSSPREFIX=${{ matrix.arch }}-w64-mingw32.static- \
          -e CROSSAR=${{ matrix.arch }}-w64-mingw32.static-ar \
          -u $(id -u):$(id -g) \
          $DOCKER_IMAGE_NAME \
            bash -c "ccache -z; ./build.sh -p win64-cross ${BUILD_FLAGS} && ccache -s"
        cp XEMU_VERSION dist
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: xemu-win-${{ matrix.arch }}-${{ matrix.configuration }}
        path: dist

  # Generate a symbols package for Windows. Use cv2pdb to generate PDBs from
  # DWARF and update + strip the executable. Re-package the original release
  # and create symbols package.
  windows_pdb:
    name: Generate PDB for Windows (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: windows-latest
    needs: windows
    strategy:
      matrix:
        arch: [x86_64, aarch64]
        configuration: [debug, release]
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: xemu-win-${{ matrix.arch }}-${{ matrix.configuration }}
        path: dist
    - name: Generate PDB
      run: |
        Invoke-WebRequest -Uri "https://github.com/rainers/cv2pdb/releases/download/v0.52/cv2pdb-0.52.zip" -OutFile "cv2pdb.zip"
        7z x -ocv2pdb -y cv2pdb.zip
        cd dist
        ../cv2pdb/cv2pdb64.exe xemu.exe
    - name: Determine package version
      id: package_id
      shell: bash
      run: |
        cd ${{ env.ARTIFACT_NAME }}
        version="$(cat XEMU_VERSION)"
        if [[ "${{ matrix.configuration}}" == "debug" ]]; then
          version="${version}-dbg"
        fi
        echo "pkg_filename=xemu-${version}-win-${{ matrix.arch }}.zip" >> $GITHUB_OUTPUT
        echo "pdb_filename=xemu-${version}-win-${{ matrix.arch }}-pdb.zip" >> $GITHUB_OUTPUT
        rm XEMU_VERSION
    - name: Package
      run: |
        mkdir dist-pdb
        cd dist
        7z a -tzip ../dist-pdb/${{ steps.package_id.outputs.pkg_filename}} * "-xr!*.pdb"
        7z a -tzip ../dist-pdb/${{ steps.package_id.outputs.pdb_filename}} "-ir!*.pdb"
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: xemu-win-${{ matrix.arch }}-${{ matrix.configuration }}-pdb
        path: dist-pdb
        compression-level: 0
