name: Build for macOS

on:
  workflow_call:

jobs:
  macos:
    name: Build for macOS (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: macOS-14
    strategy:
      matrix:
        include:
        - arch: x86_64
          configuration: Debug
          build_param: --debug -a x86_64
          artifact_name: xemu-macos-x86_64-debug
        - arch: x86_64
          configuration: Release
          build_param: -a x86_64
          artifact_name: xemu-macos-x86_64-release
        - arch: arm64
          configuration: Debug
          build_param: --debug -a arm64
          artifact_name: xemu-macos-arm64-debug
        - arch: arm64
          configuration: Release
          build_param: -a arm64
          artifact_name: xemu-macos-arm64-release
    env:
      HOMEBREW_NO_AUTO_UPDATE: 1
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      CCACHE_DIR: ${{ github.workspace }}/xemu-ccache
      CCACHE_MAXSIZE: 512M
    steps:
    - name: Download source package
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: src
    - name: Extract source package
      run: tar xf xemu-*.tar.gz
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        brew install \
          ccache \
          coreutils \
          dylibbundler
        pip install pyyaml requests
    - name: Initialize compiler, library cache
      id: cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
      with:
        path: |
          xemu-ccache
          macos-pkgs
        key: cache-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-${{ github.sha }}
        restore-keys: cache-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-
    - name: Setup ccache
      run: |
        echo "PATH=/usr/local/opt/ccache/libexec:$PATH" >> "$GITHUB_ENV"
        ccache -z
    - name: Compile
      run: |
        ./build.sh ${{ matrix.build_param }}
    - name: Report ccache stats
      run: ccache -s
    - name: Package
      id: package
      run: |
        # Determine package filename
        version="$(cat XEMU_VERSION)"
        if [[ "${{ matrix.configuration}}" == "Debug" ]]; then
          version="${version}-dbg"
        fi
        pkg_filename="xemu-${version}-macos-${{ matrix.arch }}-unsigned.zip"
        echo "pkg_filename=${pkg_filename}" >> $GITHUB_OUTPUT

        pushd dist
        zip -r ../${pkg_filename} *
        popd
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ steps.package.outputs.pkg_filename }}

  macos_universal:
    name: Build macOS Universal bundle (${{ matrix.configuration }})
    runs-on: macOS-14
    needs: macos
    strategy:
      matrix:
        configuration: ["debug", "release"]
    steps:
    - name: Download architecture-specific builds
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        pattern: "xemu-macos-*-${{ matrix.configuration }}"
        merge-multiple: true
    - name: Build Universal bundle
      run: |
        mkdir dist
        pushd dist
        for arch in x86_64 arm64; do
          unzip -o ../xemu-*-${arch}-unsigned.zip
          mv xemu.app/Contents/MacOS/xemu ../xemu_${arch}
        done
        lipo -create -output xemu.app/Contents/MacOS/xemu ../xemu_x86_64 ../xemu_arm64
        codesign --force --deep --preserve-metadata=entitlements,requirements,flags,runtime --sign - xemu.app/Contents/MacOS/xemu
        popd
    - name: Package
      id: package
      run: |
        pkg_filename="$(ls -1 xemu-*.zip | head -n1 | sed -E 's/(.*)(arm64|x86_64)/\1universal/')"
        echo "pkg_filename=${pkg_filename}" >> $GITHUB_OUTPUT
        pushd dist
        zip -r ../${pkg_filename} *
        popd
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: xemu-macos-universal-${{ matrix.configuration }}
        path: ${{ steps.package.outputs.pkg_filename }}
