name: Build

on:
  workflow_call:
    inputs:
      ref:
        description: "Git ref (commit, branch, or tag) to build"
        required: true
        type: string

jobs:
  source:
    name: Create source package
    runs-on: ubuntu-latest
    steps:
    - name: Clone tree
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      with:
        fetch-depth: 0
        ref: ${{ inputs.ref }}
    - name: Install dependencies
      run: sudo apt-get install meson
    - name: Determine release version
      id: version
      run: |
        echo -n ${{ github.sha }} > XEMU_COMMIT
        git describe --tags --match 'v*' | cut -c 2- | tr -d '\n' > XEMU_VERSION
        echo "pkg_version=$(cat XEMU_VERSION)" >> $GITHUB_OUTPUT
    - name: Create source package
      id: package
      run: |
        pkg_name="xemu-${{ steps.version.outputs.pkg_version }}"
        tar_filename="${pkg_name}.tar"
        tar_prefix="./${pkg_name}/"
        ./scripts/archive-source.sh ${tar_filename} ${tar_prefix}
        tar -r --file "${tar_filename}" --transform "s,^./,${tar_prefix}," ./XEMU_COMMIT ./XEMU_VERSION
        zstd "${tar_filename}"
        echo "pkg_filename=${tar_filename}.zst" >> $GITHUB_OUTPUT
    - name: Upload source package artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: src
        path: ${{ steps.package.outputs.pkg_filename }}
        compression-level: 0

  linux:
    name: Linux
    needs: source
    uses: ./.github/workflows/build-linux.yml

  macos:
    name: macOS
    needs: source
    uses: ./.github/workflows/build-macos.yml

  windows:
    name: Windows
    needs: source
    uses: ./.github/workflows/build-windows.yml
