name: Build

on:
  workflow_call:
    inputs:
      ref:
        description: "Git ref (commit, branch, or tag) to build"
        required: true
        type: string

jobs:
  source:
    name: Create source package
    runs-on: ubuntu-latest
    steps:
    - name: Clone tree
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      with:
        fetch-depth: 0
        ref: ${{ inputs.ref }}
    - name: Install dependencies
      run: sudo apt-get install meson
    - name: Create source package
      run: |
        ./scripts/archive-source.sh src.tar
        gzip -1 src.tar
    - name: Upload source package artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: src.tar.gz
        path: src.tar.gz

  linux:
    name: Build for Linux
    needs: source
    uses: ./.github/workflows/build-linux.yml

  macos:
    name: Build for macOS
    needs: source
    uses: ./.github/workflows/build-macos.yml

  windows:
    name: Build for Windows
    needs: source
    uses: ./.github/workflows/build-windows.yml
