name: Build for Windows

on:
  workflow_call:
    inputs:
      pkg_version:
        description: Build version
        required: true
        type: string

jobs:
  build:
    name: Build for Windows (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
        configuration: [debug, release]
    env:
      CCACHE_DIR: /tmp/xemu-ccache
      CCACHE_MAXSIZE: 512M
      DOCKER_IMAGE_NAME: ghcr.io/xemu-project/xemu-win64-toolchain-${{ matrix.arch == 'x86_64' && 'gcc:sha-18018f1' || 'llvm:sha-18018f1' }}
    steps:
    - name: Download source package
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: src
    - name: Extract source package
      run: tar -xf xemu-${{ inputs.pkg_version }}.tar.zst --strip-components=2
    - name: Initialize compiler cache
      id: cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
      with:
        path: |
          ${{ env.CCACHE_DIR }}
        key: cache-wincross-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-${{ github.sha }}
        restore-keys: cache-wincross-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-
    - name: Setup build options
      run: |
        if [[ "${{ matrix.configuration }}" == "debug" ]]; then
          opts=(
            --debug
          )
        fi
        echo "XEMU_BUILD_OPTIONS=${opts[*]}" >> "$GITHUB_ENV"

        if [[ "${{ matrix.arch }}" == "arm64" ]]; then
          CROSSPREFIX=aarch64-w64-mingw32.static-
          CROSSAR=aarch64-w64-mingw32.static-ar
        else
          CROSSPREFIX=x86_64-w64-mingw32.static-
          CROSSAR=x86_64-w64-mingw32.static-gcc-ar
        fi
        echo "CROSSPREFIX=${CROSSPREFIX}" >> "$GITHUB_ENV"
        echo "CROSSAR=${CROSSAR}" >> "$GITHUB_ENV"
    - name: Pull Docker image
      run: docker pull $DOCKER_IMAGE_NAME
    - name: Compile
      run: |
        mkdir -p ${CCACHE_DIR}
        docker run --rm \
          -v $PWD:/xemu -w /xemu \
          -v ${CCACHE_DIR}:${CCACHE_DIR} \
          -e CCACHE_DIR=${CCACHE_DIR} \
          -e CCACHE_MAXSIZE=${CCACHE_MAXSIZE} \
          -e CROSSPREFIX=${CROSSPREFIX} \
          -e CROSSAR=${CROSSAR} \
          -u $(id -u):$(id -g) \
          $DOCKER_IMAGE_NAME \
            bash -c "ccache -z; ./build.sh -p win64-cross ${XEMU_BUILD_OPTIONS} && ccache -s"
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: xemu-windows-${{ matrix.arch }}-${{ matrix.configuration }}
        path: dist

  # Generate a symbols package for Windows. Use cv2pdb to generate PDBs from
  # DWARF and update + strip the executable. Re-package the original release
  # and create symbols package.
  generate_pdb:
    name: Generate PDB for Windows (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: windows-latest
    needs: build
    strategy:
      matrix:
        arch: [x86_64, arm64]
        configuration: [debug, release]
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: xemu-windows-${{ matrix.arch }}-${{ matrix.configuration }}
        path: dist
    - name: Generate PDB
      run: |
        Invoke-WebRequest -Uri "https://github.com/rainers/cv2pdb/releases/download/v0.52/cv2pdb-0.52.zip" -OutFile "cv2pdb.zip"
        7z x -ocv2pdb -y cv2pdb.zip
        cd dist
        ../cv2pdb/cv2pdb64.exe xemu.exe
    - name: Determine package version
      id: package_id
      shell: bash
      env:
        VERSION: ${{ inputs.pkg_version }}${{ matrix.configuration == 'debug' && '-dbg' || '' }}
      run: |
        echo "pkg_filename=xemu-${VERSION}-windows-${{ matrix.arch }}.zip" >> $GITHUB_OUTPUT
        echo "pdb_filename=xemu-${VERSION}-windows-${{ matrix.arch }}-pdb.zip" >> $GITHUB_OUTPUT
    - name: Package
      run: |
        mkdir dist-pdb
        cd dist
        7z a -tzip ../dist-pdb/${{ steps.package_id.outputs.pkg_filename}} * "-xr!*.pdb"
        7z a -tzip ../dist-pdb/${{ steps.package_id.outputs.pdb_filename}} "-ir!*.pdb"
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: xemu-windows-${{ matrix.arch }}-${{ matrix.configuration }}-pdb
        path: dist-pdb
        compression-level: 0
