name: Build for macOS

on:
  workflow_call:

jobs:
  macos:
    name: Build for macOS (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: macOS-14
    strategy:
      matrix:
        include:
        - arch: x86_64
          configuration: Debug
          build_param: --debug -a x86_64
          artifact_name: xemu-macos-x86_64-debug
          artifact_filename: xemu-macos-x86_64-debug-unsigned.zip
        - arch: x86_64
          configuration: Release
          build_param: -a x86_64
          artifact_name: xemu-macos-x86_64-release
          artifact_filename: xemu-macos-x86_64-release-unsigned.zip
        - arch: arm64
          configuration: Debug
          build_param: --debug -a arm64
          artifact_name: xemu-macos-arm64-debug
          artifact_filename: xemu-macos-arm64-debug-unsigned.zip
        - arch: arm64
          configuration: Release
          build_param: -a arm64
          artifact_name: xemu-macos-arm64-release
          artifact_filename: xemu-macos-arm64-release-unsigned.zip
    steps:
    - name: Download source package
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: src.tar.gz
    - name: Extract source package
      run: tar xf src.tar.gz
    - uses: actions/setup-python@v6.1.0
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        export HOMEBREW_NO_AUTO_UPDATE=1
        export HOMEBREW_NO_INSTALL_CLEANUP=1
        brew install \
          ccache \
          coreutils \
          dylibbundler
        pip install pyyaml requests
    - name: Initialize compiler, library cache
      id: cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
      with:
        path: |
          xemu-ccache
          macos-pkgs
        key: cache-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-${{ github.sha }}
        restore-keys: cache-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-
    - name: Compile
      run: |
        export CCACHE_DIR=${GITHUB_WORKSPACE}/xemu-ccache
        export CCACHE_MAXSIZE=512M
        export PATH="/usr/local/opt/ccache/libexec:$PATH"
        ccache -z
        ./build.sh ${{ matrix.build_param }}
        echo -e "\nCompiler Cache Stats:"
        ccache -s
        pushd dist
        zip -r ../${{ matrix.artifact_filename }} *
        popd
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ matrix.artifact_filename }}

  macos_universal:
    name: Build macOS Universal Bundle (${{ matrix.configuration }})
    runs-on: macOS-14
    needs: macos
    strategy:
      matrix:
        configuration: ["debug", "release"]
    steps:
    - name: Download x86_64 build
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: xemu-macos-x86_64-${{ matrix.configuration }}
        path: xemu-macos-x86_64-${{ matrix.configuration }}
    - name: Download arm64 build
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: xemu-macos-arm64-${{ matrix.configuration }}
        path: xemu-macos-arm64-${{ matrix.configuration }}
    - name: Build Universal bundle
      run: |
        mkdir dist
        for arch in x86_64 arm64; do
          pushd xemu-macos-${arch}-${{ matrix.configuration }}
          unzip xemu-macos-${arch}-${{ matrix.configuration }}-unsigned.zip
          popd
          pushd dist
          unzip -o ../xemu-macos-${arch}-${{ matrix.configuration }}/xemu-macos-${arch}-${{ matrix.configuration }}-unsigned.zip
          popd
        done
        pushd dist
        rm xemu.app/Contents/MacOS/xemu
        lipo -create -output xemu.app/Contents/MacOS/xemu \
          ../xemu-macos-x86_64-${{ matrix.configuration }}/xemu.app/Contents/MacOS/xemu \
          ../xemu-macos-arm64-${{ matrix.configuration }}/xemu.app/Contents/MacOS/xemu
        codesign --force --deep --preserve-metadata=entitlements,requirements,flags,runtime --sign - xemu.app/Contents/MacOS/xemu
        zip -r ../xemu-macos-universal-${{ matrix.configuration }}-unsigned.zip *
        popd
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: xemu-macos-universal-${{ matrix.configuration }}
        path: xemu-macos-universal-${{ matrix.configuration }}-unsigned.zip
