name: Build for Windows

on:
  workflow_call:

jobs:
  windows:
    name: Build for Windows (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - configuration: Debug
          build_param: --debug
          artifact_name: xemu-win-x86_64-debug
          arch: x86_64
        - configuration: Release
          build_param:
          artifact_name: xemu-win-x86_64-release
          arch: x86_64
        - configuration: Debug
          build_param: --debug
          artifact_name: xemu-win-aarch64-debug
          arch: aarch64
        - configuration: Release
          build_param:
          artifact_name: xemu-win-aarch64-release
          arch: aarch64
    env:
      DOCKER_IMAGE_NAME: ghcr.io/xemu-project/xemu-win64-toolchain:sha-0d06ce8
    steps:
    - name: Download source package
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: src
    - name: Extract source package
      run: tar xf xemu-*.tar.gz
    - name: Initialize compiler cache
      id: cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
      with:
        path: /tmp/xemu-ccache
        key: cache-wincross-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-${{ github.sha }}
        restore-keys: cache-wincross-${{ runner.os }}-${{ matrix.arch }}-${{ matrix.configuration }}-
    - name: Pull Docker image
      run: docker pull $DOCKER_IMAGE_NAME
    - name: Compile
      run: |
        mkdir -p /tmp/xemu-ccache
        docker run --rm \
          -v $PWD:/xemu -w /xemu \
          -v /tmp/xemu-ccache:/tmp/xemu-ccache \
          -e CCACHE_DIR=/tmp/xemu-ccache \
          -e CCACHE_MAXSIZE=512M \
          -e CROSSPREFIX=${{ matrix.arch }}-w64-mingw32.static- \
          -e CROSSAR=${{ matrix.arch }}-w64-mingw32.static-ar \
          -u $(id -u):$(id -g) \
          $DOCKER_IMAGE_NAME \
            bash -c "ccache -z; ./build.sh -p win64-cross ${{ matrix.build_param }} && ccache -s"
        cp XEMU_VERSION dist
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: ${{ matrix.artifact_name }}
        path: dist

  # Generate a symbols package for Windows. Use cv2pdb to generate PDBs from
  # DWARF and update + strip the executable. Re-package the original release
  # and create symbols package.
  windows_pdb:
    name: Generate PDB for Windows (${{ matrix.arch }}, ${{ matrix.configuration }})
    runs-on: windows-latest
    needs: windows
    strategy:
      matrix:
        include:
        - configuration: Debug
          artifact_name: xemu-win-x86_64-debug
          arch: x86_64
        - configuration: Release
          artifact_name: xemu-win-x86_64-release
          arch: x86_64
        - configuration: Debug
          artifact_name: xemu-win-aarch64-debug
          arch: aarch64
        - configuration: Release
          artifact_name: xemu-win-aarch64-release
          arch: aarch64
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ matrix.artifact_name }}
    - name: Generate PDB
      run: |
        Invoke-WebRequest -Uri "https://github.com/rainers/cv2pdb/releases/download/v0.52/cv2pdb-0.52.zip" -OutFile "cv2pdb.zip"
        7z x -ocv2pdb -y cv2pdb.zip
        cd ${{ matrix.artifact_name }}
        ../cv2pdb/cv2pdb64.exe xemu.exe
    - name: Determine package version
      id: package_id
      shell: bash
      run: |
        cd ${{ matrix.artifact_name }}
        version="$(cat XEMU_VERSION)"
        if [[ "${{ matrix.configuration}}" == "Debug" ]]; then
          version="${version}-dbg"
        fi
        echo "pkg_filename=xemu-${version}-win-${{ matrix.arch }}.zip" >> $GITHUB_OUTPUT
        echo "pdb_filename=xemu-${version}-win-${{ matrix.arch }}-pdb.zip" >> $GITHUB_OUTPUT
        rm XEMU_VERSION
    - name: Package
      run: |
        mkdir dist
        cd ${{ matrix.artifact_name }}
        7z a -tzip ../dist/${{ steps.package_id.outputs.pkg_filename}} * "-xr!*.pdb"
        7z a -tzip ../dist/${{ steps.package_id.outputs.pdb_filename}} "-ir!*.pdb"
    - name: Upload build artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
      with:
        name: ${{ matrix.artifact_name }}-pdb
        path: dist
