name: CI

on:
  pull_request:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      ref: ${{ github.ref }}
