name: Release

on:
  workflow_call:
    inputs:
      tag:
        description: "Tag to release (e.g. v1.2.3)"
        required: true
        type: string

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      ref: ${{ inputs.tag }}

  release:
    name: Create release
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v4
      with:
        path: dist
        merge-multiple: true
    - name: Add transitionary package alias
      run: |
        pushd dist
        cp xemu-$(cat XEMU_VERSION)-win-x86_64.zip xemu-win-x86_64-release.zip
    - name: Create release draft
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        name: ${{ inputs.tag }}
        tag_name: ${{ inputs.tag }}
        draft: true
        files: |
          dist/xemu*.tar.gz
          dist/xemu*-win-*.zip
          dist/xemu*-macos-universal*.zip
          dist/xemu*.AppImage
