name: Release (Tag Pushed)

on:
  push:
    tags: ['v*']

jobs:
  release:
    name: Release
    uses: ./.github/workflows/release.yml
    with:
      ref: ${{ github.ref_name }}
      tag: ${{ github.ref_name }}
