name: Release (Published)

on:
  release:
    types: [published]

jobs:
  cleanup_prerelease:
    name: Delete pre-release
    if: ${{ !github.event.release.prerelease }}
    uses: ./.github/workflows/delete-prerelease.yml

  update_website:
    name: Update website
    if: ${{ github.repository_owner == 'xemu-project' && !github.event.release.prerelease }}
    uses: ./.github/workflows/update-website.yml
    secrets: inherit

  update_ppa_snapshot:
    name: Update PPA snapshot
    if: ${{ !github.event.release.prerelease }}
    uses: ./.github/workflows/update-ppa.yml
    with:
      release: ${{ github.event.release.name }}
